/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Eric Poirier <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/openpass/styles.less';
@import '_variables.less';

.header-wrapper .featured-jumbotron {
  background: @jumbotron-bg-color;
  padding-top: 48px;
  p:last-child {
    margin-bottom: 0;
  }
}

.featured-side a {
  float: none;
}

.news-list .news-list-col {
  margin-bottom: 0;
  padding-bottom: 0;
  h2.heading-line {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
}

.featured-alternate {
  margin-top: 50px;
}

.featured-footer.featured-alternate {
  h2 {
    font-weight: 300;
  }
}

.background-image-consistent {
  background-color: @background-image-consistent;
  p {
    color: @black;
  }
}

.border-radius-15 {
  border-radius: 15px;
}

.font-size-20 {
  p {
    font-size: 20px;
  }
}

.wg-member {
  h2 {
    background: none repeat scroll 0 0 #173057;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    padding: 10px;
    text-transform: uppercase;
  }
}
